---
const { title = "Hugo Mejías | Full Stack Developer", ...props } = Astro.props;
---


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
	<link rel="preconnect" href="https://hyugodev.me">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Portafolio profesional de Hugo Mejías, desarrollador Full Stack especializado en soluciones web modernas y escalables."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hyugodev.me/" />
    <meta property="og:title" content="Hugo Mejías | Portafolio" />
    <meta
      property="og:description"
      content="Explora mis proyectos y experiencia como Desarrollador Full Stack."
    />
    <meta property="og:image" content="https://hyugodev.me/placeholder.webp" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://hyugodev.me/" />
    <meta name="twitter:title" content="Hugo Mejías | Portafolio" />
    <meta
      name="twitter:description"
      content="Explora mis proyectos y experiencia como Desarrollador Full Stack."
    />
    <meta name="twitter:image" content="https://hyugodev.me/placeholder.webp" />
  </head>